<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <!-- Different xacro files for d435 and l515-->
  <xacro:include filename="$(find depth_enhance_robot)/urdf/suction_cup_l515.xacro"/>
  <!-- <xacro:include filename="$(find depth_enhance_robot)/urdf/suction_cup_d435.xacro"/> -->
  <!--<xacro:include filename="$(find franka_description)/robots/hand.xacro"/>-->
  <!-- for simulation -->

  <!--  <xacro:include filename="$(find franka_description)/robots/kinect.urdf.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/asus_xtion_pro.urdf.xacro"/> -->
  <xacro:include filename="$(find depth_enhance_robot)/urdf/panda.gazebo.xacro"/>

  <xacro:include filename="$(find depth_enhance_robot)/urdf/panda.transmission.xacro"/>

  <!-- end for simulation -->

  <xacro:panda_arm />
  <xacro:suction ns="panda" rpy="0 0 ${-pi/4}" xyz="0 0 0" connected_to="panda_link8"/>

  <!-- for simulation -->
  <xacro:arg name="robot_name" default="panda"/>
  <xacro:panda_gazebo robot_name="$(arg robot_name)" />
  <xacro:panda_transmission robot_name="$(arg robot_name)" load_hand="false" />

   <!--<xacro:sensor_kinect  parent="base_link"/>
  end for simulation -->
</robot>
