<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="suction">
  <xacro:macro name="suction" params="connected_to:='' ns:='' rpy:='0 0 0' xyz:='0 0 0' ">
    <xacro:unless value="${connected_to == ''}">
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
    <!--<xacro:include filename="$(find realsense2_description)/urdf/_l515.urdf.xacro"/>-->
    <link name="${ns}_suction_rect"/>
      <joint name="${ns}_suction_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="${ns}_suction"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>
    <joint name="${ns}_suction_jointrev" type="fixed">
      <!--<parent link="${ns}_suction"/>-->
      <parent link="${connected_to}"/>  
      <child link="${ns}_suction_rect"/>
      <origin xyz="0 0 0" rpy="0 0 ${-pi/4}"/>
      <!--<origin xyz="0 0 0" rpy="0 0 ${-pi/4}"/>-->
    </joint>
    <!--<joint name="base_to_tool0" type="fixed">
      <parent link="${ns}_suction_cup"/>
      <child link="${ns}_basetool"/>
      <origin xyz="0 0 0" rpy="0 0 0.785398163"/>
    </joint>-->

<!--Uppstilling a vacuum rana fyrir L515-->
<link name="${ns}_suction">
<visual>
 <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  <geometry>
    <mesh filename="package://depth_enhance_robot/urdf/stykkibodyV3.STL"
    scale="0.001 0.001 0.001"/>
  </geometry>
</visual>
<collision>
<origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  <geometry>
    <mesh filename="package://depth_enhance_robot/urdf/stykkibody.STL"
    scale="0.001 0.001 0.001"/>
  </geometry>
</collision>
<!--<inertial>
  <origin xyz="0 0 0" rpy="0 0 0" />
  <mass value="0.68" />
  <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1" />
</inertial>-->
</link>


<link name="${ns}_suction_end"/>
<joint name="${ns}_suction_end_joint" type="fixed">
  <parent link="${ns}_suction_rect"/>
  <child link="${ns}_suction_end"/>
  <origin xyz="0 0 0.222" rpy="0 0 0"/>
</joint>

<link name="shift_origin"/>
<joint name="camera_framejoint" type="fixed">
  <parent link="${ns}_suction_rect"/>
  <child link="shift_origin"/>
  <!-- <origin xyz="0.032 0 0.004 " rpy="0 0 0 "/> -->
  <origin xyz="0.04 0 0.004 " rpy="0 0 0 "/>
</joint>
<link name="picking_camera_link"/>
<!--<link name="top_link" />
<joint name="topjoint" type="fixed">
    <parent link="base_mount"/>
    <child link="top_link"/>
    <origin xyz="0 0.012 0.038" rpy="0 0 0"/>

</joint>-->

<!--
Breyta offset fyrir myndavel og sensor_d435 i L515 
x er i att ad i att ad vegg ef hann er i upphafsstodu
y er i att ad tokkum
-->
<link name="c_link" />
<xacro:sensor_d435 parent="c_link">
  <!--<origin xyz="0.01015 0.05 -0.0125" rpy="${pi/2} 0 0"/>-->
  <!-- Camera sligthly tilted: Roll adjusted by 0.02 radians pitch adjusted by 0.025 radians -->
  <!-- <origin xyz="0 0 0" rpy="${pi+0.02} ${-pi/2-0.025} 0"/> -->
  <origin xyz="-0.0125 0 ${0.0125-0.002}" rpy="${pi} ${-pi/2} 0"/>

</xacro:sensor_d435>

<!-- Roll adjusted here since roll seems to control yaw for the d435 xacro sensor -->
<joint name="basetocam" type="fixed">
  <parent link="shift_origin"/>
  <child link="c_link" />
  <!-- <origin rpy="0.02 -0.045 0 " xyz="0.02 0 0"/> -->
  <origin rpy="0.026 -0.01 0 " xyz="0.02 0 0"/>
  <!-- <origin rpy="0 0 0 " xyz="0.02 0 0"/> -->
</joint>

<!-- R: 0.28 acceptable -->

<!--<joint name="kinect_joint" type="fixed">
    <parent link="${ns}_suction_cup" />
    <child link="kinect_link" />
    <origin rpy="3.1415 -1.571 0 " xyz="0.030 -0.0175 0.056"/>
 </joint>-->

 <joint name="cam_joint" type="fixed">
     <parent link="shift_origin" />
     <child link="picking_camera_link" />
<!--Offset a camera link, breyta <origin rpy="${-pi/2} ${-pi/2} ${-pi/2} " xyz="0 -0.0175 0.01015"/>-->
     <origin rpy="${-pi/2} ${-pi/2} ${-pi/2} " xyz="0 -0.0175 0.01015"/>
  </joint>


<!-- 
Gazeboo simulation fyrir nedan 

 <gazebo reference="picking_camera_link">
    <sensor type="depth" name="openni_camera_camera">
        <always_on>1</always_on>
        <visualize>true</visualize>
        <camera>
            <horizontal_fov>1.54</horizontal_fov>
            <image>
                <width>1280</width>
                <height>720</height>
                <format>B8G8R8</format>
            </image>
            <depth_camera>

            </depth_camera>
            <clip>
                <near>0.01</near>
                <far>100</far>
            </clip>
        </camera>
       <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">

            <alwaysOn>true</alwaysOn>
                <updateRate>10.0</updateRate>
                <cameraName>picking_camera</cameraName>
                <frameName>picking_camera_depth_frame</frameName>
            <imageTopicName>rgb/image_raw</imageTopicName>
            <depthImageTopicName>depth_registered/image_raw</depthImageTopicName>
            <pointCloudTopicName>depth_registered/points</pointCloudTopicName>
            <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
            <depthImageCameraInfoTopicName>depth_registered/camera_info</depthImageCameraInfoTopicName>
            <pointCloudCutoff>0.12</pointCloudCutoff>
                <hackBaseline>0.07</hackBaseline>
                <pointCloudCutoffMax>4.0</pointCloudCutoffMax>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            <CxPrime>0.0</CxPrime>
            <Cx>0.0</Cx>
            <Cy>0.0</Cy>
            <focalLength>0.0</focalLength>
            </plugin>
    </sensor>
  </gazebo> -->

<transmission name="panda_tran_1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint1">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_motor_1">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="panda_tran_2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint2">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_motor_2">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="panda_tran_3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint3">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_motor_3">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="panda_tran_4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint4">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_motor_4">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="panda_tran_5">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint5">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_motor_5">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="panda_tran_6">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint6">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_motor_6">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="panda_tran_7">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint7">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_motor_7">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <!--<xacro:sensor_kinect  parent="base_link"/>
  end for simulation -->
    <transmission name="trans_panda_joint1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint1">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_joint1_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_panda_joint2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint2">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_joint2_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_panda_joint3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint3">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_joint3_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_panda_joint4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint4">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_joint4_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_panda_joint5">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint5">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_joint5_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_panda_joint6">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint6">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_joint6_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_panda_joint7">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="panda_joint7">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="panda_joint7_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

  </xacro:macro>
</robot>
